<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  -->
    <!--  -->
    <style>
        a+a {
            margin-left: 20px;
        }

        table,
        th,
        td {
            border: 1px solid;
        }

        table {
            border-collapse: collapse;
        }

        th {
            padding: 5px;
        }

        input, select {
            display: block;
            margin-bottom: 10px;
        }
    </style>
    <!--  -->
    <!--  -->

    {% block head %}

    {% endblock %}
</head>

<body>

    {% include 'navbar.html' %}

    {% block content %}

    {% endblock %}

</body>

</html>