{% load auth_extras %}

<div class="navbar">
    <div style="float: left;">
        <!-- <span style="padding-left: 52px;">&nbsp;</span> -->
        <a href="{% url 'home' %}">Home Page</a>
        <!-- <a href="{% url 'profile' %}">Profile</a> -->
        {% if request.user|has_group:"Employee" or user.is_superuser %}
        <a href="{% url 'employee_home' %}">Employee Dashboard</a>
        {% endif %}

        {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}">Admin Site</a>
        {% endif %}



    </div>
    <div style="float: right;">

        {% if user.is_authenticated %}
        <p>
            <span style="margin-right: 1.5rem;">
                Welcome {{user}}!
            </span>
            <a href="{% url 'profile' %}">View Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
        </p>
        {% else %}
        <p>
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        </p>
        {% endif %}
    </div>
    &nbsp;
</div>

<!-- <div style="z-index: 101; position: fixed; top: 0; left: 0; background: rgb(255, 255, 255); padding: 10px 6px 4px 6px;">
    <img src="https://i.ibb.co/TL6jhn1/logo.png" style="height: 36px;">
</div> -->