{% extends 'base.html' %}}

{% block head %}
<title>Add ticket</title>
<style>
    td {
        vertical-align: bottom;
    }
</style>
{% endblock %}

{% block content %} <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

        <div class="mng-idv-flight">
            <h1 style="float: left;">
                Edit Flight's Ticket Classes
            </h1>
            <a class="btn-wrap" href={% url 'manage_flight' flight_id %}>
                <div class="btn-delete">
                    Cancel
                </div>
            </a>
            <div style="clear: both;"></div>
        </div>

        <div class="global-edit">

            <form action="" method="post">
                {% csrf_token %}
                {{ formset.management_form }}
                {{formset.non_form_errors}}
                <table>
                    <thead>
                        {% for form in formset %}
                        {% if forloop.first %}
                        {% for field in form.visible_fields %}
                        <th>
                            {{ field.label_tag }}
                        </th>
                        {% endfor %}
                        {% endif %}
                    </thead>
                    <tbody>
                        <tr>
                            {% for field in form.visible_fields %}
                            <td>
                                <div>{{ field.errors }}</div>
                                <div>{{ field }}</div>
                            </td>
                            {% endfor %}
                        </tr>
                        {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>


                <input type="submit" value="Update">
            </form>



        </div>
    </div>
    <div class="col-2"></div>
</div>{% endblock content %}