{% extends 'base.html' %}}

{% block head %}
<title>Login</title>
{% endblock %}

{% block content %}

<img style="position: fixed; top: 56px; left: 0; height: calc(100vh - 56px);"
    src="https://i.ibb.co/gMwyzCc/side-header.png" alt="">

<div class="row">
    <div class="col-7">
    </div>
    <div class="col-5">
        <h1 style="text-align: center; margin: 64px 0 48px 0;">
            Login
        </h1>

        <form action="" method="post">
            {% csrf_token %}
            <div style="margin-top: 24px;">
                Username
                <div style="height: 12px;"></div>
                <input type="text" name="username" placeholder="Username..." class="form-control">
                <p class="helptext">
                    {{ form.username.help_text }}
                </p>
            </div>
            <div style="margin-top: 24px;">
                Password
                <div style="height: 12px;"></div>
                <input type="password" name="password" placeholder="Password..." class="form-control">
                <p class="helptext">
                    {{ form.password.help_text }}
                </p>
            </div>
            <input class="btn login_btn" type="submit" value="Login">
        </form>

        <div>
            {% for m in messages %}
            <p id="messages">{{m}}</p>
            {% endfor %}
        </div>
    </div>
</div>





<!-- <div>
    <a href="{% url 'home' %}">Home</a>
</div> -->
{% endblock content %}