{% extends 'base.html' %}}

{% block head %}
<title>Confirm Book Flight</title>
{% endblock %}


{% block content %}
<h1>----------- This is confirm book flight page --------------</h1>

0. book_flight details

1. choose seat position

2. payment method

<div>
    {% for m in messages %}
    <p id="messages">{{m}}</p>
    {% endfor %}
</div>

<form action="" method="post">
    {% csrf_token %}

    <h3>Choose Seat</h3>
    {{form}}

    <h3>Payment</h3>
    {{ payment }}

    <input type="submit" value="Pay">
</form>


<h1>----------- This is confirm book flight page --------------</h1>
{% endblock content %}