{% extends 'base.html' %}}

{% block head %}
<title>Flight {{flight}}</title>
{% endblock %}

{% block content %}
<h1>----------- This is Flight detail --------------</h1>

<div>
    <h2>Flight Name: {{flight}}</h2>
    <div>src airport: {{flight.departure_airport}}</div>
    <div>dst airport: {{flight.arrival_airport}}</div>
    <div>departure time: {{flight.departure_time}}</div>
    <div>duration: {{flight.duration}}</div>
</div>

<br>

<div>
    <table>
        <tr>
            <th>Số thứ tự</th>
            <th>Sân bay trung gian</th>
            <th>Thời gian dừng</th>
            <th>Ghi chú</th>
        </tr>
        {% for a in intermediate_airports %}
        <tr>
            <th>{{a.id}}</th>
            <th>{{a.airport.name}}</th>
            <th>{{a.stop_time}}</th>
            <th>{{a.notes}}</th>
        </tr>
        {% endfor %}
    </table>
</div>

<br>

<div>
    <h2>ticket cost</h2>

    <table>
        <tr>
            <th>Hang Ve</th>
            <th>Gia Ve</th>
            <th>So luong</th>
            <th>Số ghế trống</th>
            <th>Số ghế đặt</th>
        </tr>

        {% for c in flight_tickets %}
        <tr>
            <th>{{c.ticket_class}}</th>
            <th>{{c.cost}}</th>
            <th>{{c.quantity}}</th>
            <th>{{c.available_seats}}</th>
            <th>{{c.booked_count}}</th>
            <th><a href={% url 'book_flight' %}?flight={{flight.id}}&ticket_class={{c.ticket_class.id}} >Đặt vé</a></th>
        </tr>
        {% endfor %}

    </table>
</div>

<h1>----------- This is Flight detail --------------</h1>
{% endblock content %}