{% extends 'base.html' %}}

{% block head %}
<title>Employee Dashboard</title>
{% endblock %}

{% block content %}
<h1>----------- This is Employee Dashboard--------------</h1>

<div>
    <a href="{% url 'manage_airport_home' %}">Manage Airport</a>
    <a href="{% url 'manage_ticket_class_home' %}">Manage Ticket Class</a>
    <a href="{% url 'manage_cost_home' %}">Manage Cost</a>
    <a href="{% url 'manage_flight_home' %}">Manage Flight</a>
    <a href="{% url 'manage_ticket_home' %}">Manage Ticket</a>
    <a href="{% url 'report_dashboard' %}">View Report</a>
</div>

<h1>----------- This is Employee Dashboard--------------</h1>
{% endblock content %}