{% extends 'base.html' %}}

{% block head %}
<title>Manage Airport </title>
{% endblock %}

{% block content %} <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

        <!-- Message area -->
        <div class="messages">
            {% for m in messages %}
            <p class="{{ m.tags }}">{{m}}</p>
            {% endfor %}
        </div>

        <div class="global-manage">

            <div>
                <h1>
                    Manage Airports
                </h1>
                <a class="add-btn-wrap" href="{% url 'add_airport' %}">
                    <div class="add-btn">
                        Add New Airport
                    </div>
                </a>
            </div>

            <div>
                <table>
                    <tr>
                        <th>Mã Sân Bay</th>
                        <th>Tên Sân Bay</th>
                    </tr>

                    {% for a in airports %}
                    <tr>
                        <th>{{a.code }}</th>
                        <th>{{a.name }}</th>
                        <th><a href="{% url 'edit_airport' a.id %}">Edit</a></th>
                        <th><a href="{% url 'delete_airport' a.id %}">Delete</a></th>
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>

    </div>
    <div class="col-2"></div>
</div>{% endblock content %}