{% extends 'base.html' %}}

{% block head %}
<title>Add Ticket</title>
{% endblock %}

{% block content %} <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h1>----------- This is Add ticket page--------------</h1>

        <form action="" method="post">
            {% csrf_token %}
            {{ form }}

            {{ form.errors }}
            <input type="submit" value="Add Ticket">
        </form>

        <h1>----------- This is Add ticket page--------------</h1>
    </div>
    <div class="col-2"></div>
</div>{% endblock content %}