{% extends 'base.html' %}}

{% block head %}
<title>Manage Ticket Dashboard </title>
{% endblock %}

{% block content %}
<h1>----------- This is Manage Ticket Dashboard --------------</h1>

<div>
    {% for m in messages %}
    <p id="messages">{{m}}</p>
    {% endfor %}
</div>

<div>
    <table>
        <tr>
            <th>Mã Vé</th>
            <th>Mã Chuyến bay</th>
            <th>Loại vé</th>
            <th>Tên hành khách</th>
            <th>Số Điện Thoại</th>
            <th>CMND/CCCD</th>
            <th>Giá vé</th>
            <th>Trạng Thái</th>
        </tr>

        {% for t in tickets %}
        <tr>
            <th>{{t.id }}</th>
            <th>{{t.flight_ticket.flight }}</th>
            <th>{{t.flight_ticket.ticket_class }}</th>
            <th>{{t.customer_name }}</th>
            <th>{{t.customer_phone }}</th>
            <th>{{t.customer_id_card }}</th>
            <th>{{t.flight_ticket.cost }}</th>
            <th>{{t.str_status }}</th>
            <th><a href="{% url 'edit_ticket_employee' t.id %}">Edit</a></th>
            <th><a href="{% url 'delete_ticket_employee' t.id %}">Delete</a></th>
            <th><a href="{% url 'pay_ticket_employee' t.id %}">Pay</a></th>
            <th><a href="{% url 'export_ticket_employee' t.id %}">Print</a></th>
        </tr>
        {% endfor %}

    </table>
</div>


<div>
    <a href="{% url 'add_ticket' %}">Add Ticket</a>
</div>

<h1>----------- This is Manage Ticket Dashboard --------------</h1>
{% endblock content %}