{% extends 'base.html' %}}

{% block head %}
<title>Manage Ticket Airport </title>
{% endblock %}

{% block content %} <div class="row">
    <div class="col-2"></div>
    <div class="col-8">

        <div class="global-manage">

            <div>
                <h1>
                    Manage Ticket Classes
                </h1>
                <a class="add-btn-wrap" href="{% url 'add_ticket_class' %}">
                    <div class="add-btn">
                        Add New Class
                    </div>
                </a>
            </div>

            <div>
                <table>
                    <tr>
                        <th>Tên hạng vé</th>
                    </tr>

                    {% for c in ticket_classes %}
                    <tr>
                        <th>{{c }}</th>
                        <th><a href="{% url 'edit_ticket_class' c.id %}">Edit</a></th>
                        <th><a href="{% url 'delete_ticket_class' c.id %}">Delete</a></th>
                    </tr>
                    {% endfor %}

                </table>
            </div>

        </div>

    </div>
    <div class="col-2"></div>
</div>{% endblock content %}